.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 0;
  border-radius: 12px;
  background-color: var(--button-background);
  color: var(--white);
  font-family: var(--main-font);
  font-size: 16px;
  line-height: 1.25;
}

.btn.btnHomePage {
  width: 276px;
}

.btn.btnHomePage:hover,
.btn.btnHomePage:focus {
  background-color: var(--button-background-active);
}

.btn.btnListItem {
  width: 276px;
}

.btn.btnListItem:hover,
.btn.btnListItem:focus {
  background-color: var(--button-background-active);
}
.btn.btnSearch {
  width: 156px;
}

.btn.btnSearch:hover,
.btn.btnSearch:focus {
  background-color: var(--button-background-active);
}
