@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&display=swap');
@import url('./App.css');
@import url('modern-normalize');

:root {
  --main-font: 'Manrope', sans-serif;
  --calendar-font: 'Inter', sans-serif;
  --body-background: #ffffff;
  --main-text-color: #101828;
  --second-text-color: #8e929a;
  --button-background: #3470ff;
  --button-background-active: #0b44cd;
  --favorite-background: #dadde1;
  --header-background: #f2f4f7;
  --input-background: #f7f7f7;
  --white: #ffffff;
}

body {
  font-family: var(--main-font);
  background-color: var(--body-background);
}
